<!DOCTYPE html>
<html>
<head>
    <title>Login - My Bank</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container" style="text-align:center;">
    <h1>🏦 Welcome to My Bank</h1>
    <div class="card">
        <h2>Login</h2>
        <form action="/login" method="post">
            <input type="email" name="email" placeholder="Enter your Email" required>
            <button type="submit">Login</button>
        </form>
        <p style="color:red" th:if="${error}" th:text="${error}"></p>
        <br>
        <a href="/signup">Don't have an account? Sign Up</a>
    </div>
</div>
</body>
</html>